/*Global*/

body {
    margin: 0;
    font-family: 'Cochin', 'Times New Roman', Times, serif;
    background: radial-gradient(ellipse 200% 50% at center, #000000, #141c26);
    color: #ffffff;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111a2c;
    padding: 20px;
    position: relative;
    z-index: 1000;
}
.nav-button {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.15rem;
}
header a:hover {
    text-decoration: underline;
    text-decoration-color: #86c6f3;
    text-decoration-thickness: 2px;
}
header img {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
header img:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1001;
}
.hamburger-menu span {
    display: block;
    height: 3px;
    background-color: #ffffff;
    border-radius: 3px;
}
.dropdown-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.dropdown-menu.open {
    display: flex;
}
.dropdown-item {
    color: #ffffff;
    padding: 20px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}
.dropdown-item:hover {
    text-decoration: underline;
    text-decoration-color: #86c6f3;
}
@media screen and (max-width: 768px) {
    .nav-button {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
}
footer {
    text-align: center;
    background-color: #111a2c;
    padding: 20px;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
/*Home*/

.quote {
    font-size: 1.15rem;
    text-align: center;
    font-style: italic;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}
.trailer {
    padding-top: 3dvh;
    text-align: center;
}
@media (max-width: 768px) {
    iframe {
      max-width: 100%;
    }
    .trailer {
        padding-top: 0;
    }
}

/*About*/

.about-container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
}
.about-image {
    max-width: 550px;
    width: 100%;
    margin-right: 20px;
}
.about-text {
    flex: 1;
}
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .about-text {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-size: 1rem;
    }
    .about-image {
        margin-right: 0;
        max-width: 100%;
    }
}

/*Music*/

.works-list-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-list {
    display: grid;
    background-color: #ffffff13;
    grid-template-columns: 100px auto;
    gap: 20px;
    align-items: start;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}
.year,
.work-title {
    font-weight: bold;
}
.work-item {
    display: flex;
    flex-direction: column;
}
.custom-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.custom-button {
    background-color: #355980;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
    flex: 0 1 auto;
    max-width: 200px;
}
.custom-button:hover {
    background-color: #86c6f3;
    box-shadow: 0 6px 10px rgba(0, 123, 255, 0.4);
    transform: translateY(-2px);
}
@media (max-width: 600px) {
    .works-list {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .year,
    .work-title {
        font-size: 1.2em;
    }
    .custom-button-container {
        display: block;
        margin: 20px 0;
    }
}

/*Writings*/

.essay-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.essay {
    background-color: #ffffff13;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.essay h1.title {
    font-size: 28px;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
}
.essay h1.title a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}
.essay h1.title a:hover {
    color: #007BFF;
}
.essay h2.author {
    font-size: 18px;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}
.essay p.date {
    font-size: 14px;
    margin: 0;
    text-align: left;
}
.essay p.preview {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 15px;
    text-align: left;
}
.essay p.preview a.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}
.essay p.preview a.read-more:hover {
    text-decoration: underline;
}

/*Contact*/

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact-title {
    font-size: 1.5rem;
}
.contact-link {
    display: flex;
    align-items: center;
    color: #000;
    background-color: #dedede;
    padding: 8px 12px;
    margin: 8px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.contact-link:hover {
    background-color: #ccc;
}
.contact-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.contact-icon-large {
    width: 100px;
    height: 35px;
}
.contact-image {
    width: 310px;
    height: 510px;
    object-fit: cover;
}
@media only screen and (max-width: 510px) {
    .contact-container {
        flex-direction: column;
        margin: 0px 0px 22px 0px;
    }
    .contact-photo {
        order: -1;
    }
    .contact-image {
        width: 100%;
        height: auto;

    }
    .contact-info {
        font-size: 1rem;
    }
}