                                    /* Main styles */
body {
    font-family: 'Times New Roman', Times, serif;
    background: radial-gradient(ellipse 200% 50% at center, #000000, #1e2b3a);
    color: #dedede;
    margin: 0;
    padding: 0;
}

                                       /* Footer styles */
  footer {
    background-color: #1c2b48;
    color: #dedede;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
                                      /* Header styles */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c2b48;
  color: #dedede;
  padding: 15px;
  flex-shrink: 0;
}

.logo-title {
  display: flex;
  align-items: center;
}
.logo-title img {
  max-height: 42px;
  margin-right: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -100%;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #1c2b48;
  padding: 15px;
  z-index: 999;
  transition: top 0.3s ease;
  z-index: 1000;
}
.menu.open {
  top: 0;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menu li {
  margin: 10px 0;
}
.menu a {
  color: #dedede;
  text-decoration: none;
  font-size: 2rem;
}
.hamburger-btn {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}
.hamburger-line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #dedede;
  margin: 5px 0;
}

@media screen and (min-width: 769px) {
  .menu {
      display: flex;
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      padding: 0;
      transition: none;
  }
  .menu ul {
      flex-direction: row;
      height: auto;
      justify-content: flex-start;
  }
  .menu li {
      margin: 0 5px;
  }

  .menu a {
    font-size: 21px;
  }
  .hamburger-btn {
      display: none;
  }

  #youtube-icon {
    margin-left: 5px
  }
}

                                        /* Slideshow container (index.html) */
.slideshow-container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
  .slideshow-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 0;
    padding-bottom: 75%;
    margin: 0 auto;
    margin-top: 0px;
    overflow: hidden;
  }

  .dot-container {
      left: 50%;
      transform: translateX(-50%);
  }
}
    
                                                    /* Slides */
    .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}
    
                                            /* Show active slide */
    .slide.active {
    opacity: 1;
}
    
                                                /* Navigation arrows */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
}
    
    .prev {
    left: 10px;
}
    
    .next {
    right: 10px;
}

@media only screen and (max-width: 800px) {
  .prev,
  .next {
    font-size: 2rem;
  }
}

                                            /* Progress dots */
    .dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
    
    .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
    
    .dot.active {
    background-color:  white;
}

    .slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
                                    /* Quote styles (index.html) */
.quote {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    padding: 0 20px;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .quote {
    font-size: 1rem;
  }
}

                                    /* Photo gallery styles */
.photo-gallery-container {
  margin: 20px auto;
  max-width: 800px;
  position: relative;
  margin-top: 50px;
}

.year-header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.photo-gallery-container img {
  max-width: 395px;
  height: auto;
  cursor: pointer;
}

@media only screen and (max-width: 814px) {
  .photo-gallery-container {
    max-width: 800px;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 0;
    justify-content: center;
  }

  .photo-gallery-container img {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
}

.zoom-overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.zoom-overlay img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

#archiveButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.photo-gallery-container #archiveButton {
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  opacity: 0;
}

#returnButton {
  position: absolute;
  top: calc(10px - 20px);
  right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

@media only screen and (max-width: 814px) {
  #returnButton {
    top: calc(10px - 20px);
  }
}

                                            /* Biography Styles */

  .about-container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .bio-profile-img {
    max-width: 500px;
    width: 100%;
    border-radius: 0;
    margin-right: 20px;
  }

  .bio-text {
    flex: 1;
  }

  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }

    .bio-text {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
      font-size: 1rem;
    }

    .bio-profile-img {
      max-width: 768px;
      margin-right: 0;
    }
  }

                                            /* Composition Page */

  .composition {
    background-color: #cccccc42;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    transition: transform 0.2s;
}

.composition:hover {
    transform: scale(1.02);
}

@media (max-width: 768px) {
  iframe {
    max-width: 100%;
  }
}
                                            /* contact text/audio */

  #contact-container {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  
  #contact-container a {
    display: inline-block;
    color: #000000;
    background-color: #dedede;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
  }
  
  #contact-container img {
    vertical-align: middle;
  }
  
  #contact-container h2 {
    margin-top: 10px;
  }
  
  #Guitars-Photo {
    width: 310px; 
    height: 550px;
  }

  @media only screen and (max-width: 468px) {
    #contact-container {
      flex-direction: column;
      margin-top: 0;
    }
  
    .contact-photo {
      order: -1;
    }

    #Guitars-Photo {
      width: 100%
    }
  
    .contact-info {
      margin-top: 20px;
      font-size: 1rem;
    }
  }